body {
  padding-top: 10px;
  /* font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;*/
  font-family: -apple-system, BlinkMacSystemFont, “Segoe UI”, Roboto, “Helvetica Neue”, Arial, sans-serif, “Apple Color Emoji”, “Segoe UI Emoji”, “Segoe UI Symbol”;
  /* default is 1rem or 16px */
  font-size: 14px;
  font-weight: 400;
  line-height: 1;
}

a {
  color: #00B7FF;
}
.mt-ts-input{
  scroll-behavior: inherit;
}
.mt-ts-list,.mt-ts-list-root {
  padding: 2px;
  background-color: #E9ECEF;
}
.mt-ts-list li {
  list-style-type: none;
  padding-left: 1em;
}
.mt-ts-list-root li {
  list-style-type: none;
  padding-left: 1em;
}
.mt-ts-actionable {
  cursor: pointer
}
.tlabel {
  float: left;
  padding: 2px;
}
.tvalue {
  float: right;
  padding-left: 1em;
}
.carousel-control-prev-icon, .carousel-control-next-icon {
  background-color: #909090;
}
.hidden{
  display: none;
}